p6e960 → ✓ @adobe/react-spectrum@npm:3.37.1 [e0677] provides @react-spectrum/provider@npm:3.9.12 [127d4] to @react-spectrum/actionbar@npm:3.6.1 [127d4] and 47 other dependencies
pae80e → ✓ @adobe/react-spectrum@npm:3.37.1 [e0677] doesn't provide @types/react-spectrum__provider to @react-spectrum/actionbar@npm:3.6.1 [127d4] and 47 other dependencies
pd12f5 → ✘ @ark-ui/anatomy@npm:3.5.0 doesn't provide @internationalized/date to @zag-js/date-utils@npm:0.62.1 [8ec6c]
p22748 → ✓ @ark-ui/anatomy@npm:3.5.0 doesn't provide @types/internationalized__date to @zag-js/date-utils@npm:0.62.1 [8ec6c]
p2d6d1 → ✓ @ark-ui/react@npm:4.1.2 [6bbe7] provides @internationalized/date@npm:3.5.6 to @zag-js/date-picker@npm:0.74.2 [49adf] and 2 other dependencies
paafaf → ✓ @ark-ui/react@npm:4.1.2 [6bbe7] doesn't provide @types/internationalized__date to @zag-js/date-picker@npm:0.74.2 [49adf] and 2 other dependencies
p3ef57 → ✓ @babel/traverse@npm:7.25.9 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p06dd4 → ✓ @babel/traverse@npm:7.25.9 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p8a92b → ✓ @eslint/eslintrc@npm:2.1.4 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p7c7f6 → ✓ @eslint/eslintrc@npm:2.1.4 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p34f03 → ✓ @humanwhocodes/config-array@npm:0.13.0 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pddaba → ✓ @humanwhocodes/config-array@npm:0.13.0 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p5711c → ✓ @nextui-org/aria-utils@npm:2.0.26 [799b3] doesn't provide @types/framer-motion to @nextui-org/system@npm:2.2.6 [f8590]
pa734b → ✘ @nextui-org/aria-utils@npm:2.0.26 [799b3] doesn't provide framer-motion to @nextui-org/system@npm:2.2.6 [f8590]
p12156 → ✘ @nextui-org/system@npm:2.2.6 [e0677] doesn't provide @nextui-org/theme to @nextui-org/system-rsc@npm:2.1.6 [5c93d]
p9f053 → ✓ @nextui-org/system@npm:2.2.6 [e0677] doesn't provide @types/nextui-org__theme to @nextui-org/system-rsc@npm:2.1.6 [5c93d]
pedf4d → ✘ @nextui-org/system@npm:2.2.6 [f8590] doesn't provide @nextui-org/theme to @nextui-org/system-rsc@npm:2.1.6 [5c93d]
p8c7af → ✓ @nextui-org/system@npm:2.2.6 [f8590] doesn't provide @types/nextui-org__theme to @nextui-org/system-rsc@npm:2.1.6 [5c93d]
p8480f → ✓ @react-spectrum/checkbox@npm:3.9.10 [127d4] doesn't provide @types/react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p4755a → ✘ @react-spectrum/checkbox@npm:3.9.10 [127d4] doesn't provide react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
pa2e7d → ✓ @react-spectrum/dropzone@npm:3.0.5 [127d4] doesn't provide @types/react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p2d526 → ✘ @react-spectrum/dropzone@npm:3.0.5 [127d4] doesn't provide react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p470fc → ✓ @react-spectrum/filetrigger@npm:3.0.5 [127d4] doesn't provide @types/react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p522e5 → ✘ @react-spectrum/filetrigger@npm:3.0.5 [127d4] doesn't provide react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
pa638c → ✓ @react-spectrum/text@npm:3.5.9 [127d4] doesn't provide @types/react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p8aa3e → ✘ @react-spectrum/text@npm:3.5.9 [127d4] doesn't provide react-dom to react-aria-components@npm:1.4.1 [397b7] and 24 other dependencies
p17e70 → ✓ @spectrum-icons/ui@npm:3.6.10 [601a0] doesn't provide @types/react-dom to @adobe/react-spectrum-ui@npm:1.2.1 [2f13e]
pca52e → ✘ @spectrum-icons/ui@npm:3.6.10 [601a0] doesn't provide react-dom to @adobe/react-spectrum-ui@npm:1.2.1 [2f13e]
pa0a4c → ✓ @spectrum-icons/workflow@npm:4.2.15 [3ea0c] doesn't provide @types/react-dom to @adobe/react-spectrum-workflow@npm:2.3.5 [7341a]
pfe1ec → ✘ @spectrum-icons/workflow@npm:4.2.15 [3ea0c] doesn't provide react-dom to @adobe/react-spectrum-workflow@npm:2.3.5 [7341a]
p78354 → ✓ @typescript-eslint/parser@npm:7.2.0 [2afa4] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pb92a8 → ✓ @typescript-eslint/parser@npm:7.2.0 [2afa4] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p8c11e → ✓ @typescript-eslint/parser@npm:8.11.0 [e0677] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p16554 → ✓ @typescript-eslint/parser@npm:8.11.0 [e0677] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pa50ad → ✓ @typescript-eslint/type-utils@npm:8.11.0 [c5599] doesn't provide @types/eslint to @typescript-eslint/utils@npm:8.11.0 [3fc6a] and 1 other dependency
p5c7a9 → ✓ @typescript-eslint/type-utils@npm:8.11.0 [c5599] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p7058a → ✘ @typescript-eslint/type-utils@npm:8.11.0 [c5599] doesn't provide eslint to @typescript-eslint/utils@npm:8.11.0 [3fc6a] and 1 other dependency
p2e957 → ✓ @typescript-eslint/type-utils@npm:8.11.0 [c5599] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p260c1 → ✓ @typescript-eslint/typescript-estree@npm:8.11.0 [3fc6a] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pfd36c → ✓ @typescript-eslint/typescript-estree@npm:8.11.0 [3fc6a] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pe0830 → ✓ @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pc39c3 → ✓ @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p66acc → ✓ @typescript-eslint/typescript-estree@npm:7.2.0 [8642b] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pa8fb1 → ✓ @typescript-eslint/typescript-estree@npm:7.2.0 [8642b] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p191f4 → ✓ @typescript-eslint/utils@npm:8.11.0 [3fc6a] doesn't provide @types/typescript to @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] and 1 other dependency
pa8723 → ✘ @typescript-eslint/utils@npm:8.11.0 [3fc6a] doesn't provide typescript to @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] and 1 other dependency
p249d5 → ✓ @typescript-eslint/utils@npm:8.11.0 [c5599] doesn't provide @types/typescript to @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] and 1 other dependency
p36858 → ✘ @typescript-eslint/utils@npm:8.11.0 [c5599] doesn't provide typescript to @typescript-eslint/typescript-estree@npm:8.11.0 [7f1b4] and 1 other dependency
p39d5b → ✓ @workos-inc/node@npm:7.34.0 doesn't provide @types/next to iron-session@npm:6.3.1 [6bd7b]
pa46cd → ✓ @workos-inc/node@npm:7.34.0 doesn't provide express to iron-session@npm:6.3.1 [6bd7b]
pc86e8 → ✓ @workos-inc/node@npm:7.34.0 doesn't provide koa to iron-session@npm:6.3.1 [6bd7b]
pd5d13 → ✓ @workos-inc/node@npm:7.34.0 doesn't provide next to iron-session@npm:6.3.1 [6bd7b]
p06341 → ✓ @zag-js/date-picker@npm:0.62.1 provides @internationalized/date@npm:3.5.5 to @zag-js/date-utils@npm:0.62.1 [92cbc]
paa4dc → ✓ @zag-js/date-picker@npm:0.62.1 doesn't provide @types/internationalized__date to @zag-js/date-utils@npm:0.62.1 [92cbc]
p5a8e9 → ✓ agent-base@npm:7.1.1 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pcb7c4 → ✓ agent-base@npm:7.1.1 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p636c1 → ✓ browserslist@npm:4.24.2 doesn't provide @types/browserslist to update-browserslist-db@npm:1.1.1 [0bc5f]
pc61ab → ✓ browserslist@npm:4.24.2 provides browserslist@npm:4.24.2 to update-browserslist-db@npm:1.1.1 [0bc5f]
p7cd8d → ✓ capnp-ts@npm:0.7.0 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p160e9 → ✓ capnp-ts@npm:0.7.0 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pbd403 → ✓ engine.io-client@npm:6.6.2 doesn't provide @types/bufferutil to ws@npm:8.17.1 [5eef7]
pd7f14 → ✓ engine.io-client@npm:6.6.2 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p6b438 → ✓ engine.io-client@npm:6.6.2 doesn't provide @types/utf-8-validate to ws@npm:8.17.1 [5eef7]
p7d225 → ✓ engine.io-client@npm:6.6.2 doesn't provide bufferutil to ws@npm:8.17.1 [5eef7]
pdeddc → ✓ engine.io-client@npm:6.6.2 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pda2d0 → ✓ engine.io-client@npm:6.6.2 doesn't provide utf-8-validate to ws@npm:8.17.1 [5eef7]
p49ef5 → ✓ engine.io@npm:6.6.2 doesn't provide @types/bufferutil to ws@npm:8.17.1 [5eef7]
p82f8e → ✓ engine.io@npm:6.6.2 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p67229 → ✓ engine.io@npm:6.6.2 doesn't provide @types/utf-8-validate to ws@npm:8.17.1 [5eef7]
p62a08 → ✓ engine.io@npm:6.6.2 doesn't provide bufferutil to ws@npm:8.17.1 [5eef7]
p35c89 → ✓ engine.io@npm:6.6.2 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p72255 → ✓ engine.io@npm:6.6.2 doesn't provide utf-8-validate to ws@npm:8.17.1 [5eef7]
pf8d9b → ✓ eslint-config-next@npm:14.2.1 [e0677] doesn't provide @types/eslint-plugin-import to eslint-import-resolver-typescript@npm:3.6.3 [2afa4]
p9db06 → ✓ eslint-config-next@npm:14.2.1 [e0677] doesn't provide @types/eslint-plugin-import-x to eslint-import-resolver-typescript@npm:3.6.3 [2afa4]
pd97d2 → ✓ eslint-config-next@npm:14.2.1 [e0677] doesn't provide @types/typescript-eslint__parser to eslint-plugin-import@npm:2.31.0 [2afa4] and 1 other dependency
p0c172 → ✓ eslint-config-next@npm:14.2.1 [e0677] provides @typescript-eslint/parser@npm:7.2.0 [2afa4] to eslint-plugin-import@npm:2.31.0 [2afa4] and 1 other dependency
pffbe9 → ✓ eslint-config-next@npm:14.2.1 [e0677] provides eslint-plugin-import@npm:2.31.0 [2afa4] to eslint-import-resolver-typescript@npm:3.6.3 [2afa4]
pd8507 → ✓ eslint-config-next@npm:14.2.1 [e0677] doesn't provide eslint-plugin-import-x to eslint-import-resolver-typescript@npm:3.6.3 [2afa4]
pb82e1 → ✓ eslint-import-resolver-node@npm:0.3.9 doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p49645 → ✓ eslint-import-resolver-node@npm:0.3.9 doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
pd43f9 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @types/eslint-import-resolver-node to eslint-module-utils@npm:2.12.0 [00680]
p61543 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @types/eslint-import-resolver-typescript to eslint-module-utils@npm:2.12.0 [00680]
p2c7c8 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @types/eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [00680]
pff76c → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p07d29 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @types/typescript-eslint__parser to eslint-module-utils@npm:2.12.0 [00680]
pfd2f2 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide @typescript-eslint/parser to eslint-module-utils@npm:2.12.0 [00680]
pe58e3 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide eslint-import-resolver-node to eslint-module-utils@npm:2.12.0 [00680]
p6962a → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] provides eslint-import-resolver-typescript@npm:3.6.3 [2afa4] to eslint-module-utils@npm:2.12.0 [00680]
pa3bf0 → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [00680]
p0a57a → ✓ eslint-import-resolver-typescript@npm:3.6.3 [2afa4] doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p5cc96 → ✓ eslint-module-utils@npm:2.12.0 [00680] doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p51e9f → ✓ eslint-module-utils@npm:2.12.0 [00680] doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
pc8774 → ✓ eslint-module-utils@npm:2.12.0 [3b3bb] doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
pc2d62 → ✓ eslint-module-utils@npm:2.12.0 [3b3bb] doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
p0857f → ✓ eslint-module-utils@npm:2.12.0 [974f8] doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p054bb → ✓ eslint-module-utils@npm:2.12.0 [974f8] doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
p719c7 → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide @types/eslint-import-resolver-node to eslint-module-utils@npm:2.12.0 [974f8]
p198e3 → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide @types/eslint-import-resolver-typescript to eslint-module-utils@npm:2.12.0 [974f8]
p5ee84 → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide @types/eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [974f8]
p2073d → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p1352a → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] provides eslint-import-resolver-node@npm:0.3.9 to eslint-module-utils@npm:2.12.0 [974f8]
pa7045 → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide eslint-import-resolver-typescript to eslint-module-utils@npm:2.12.0 [974f8]
p5bfdf → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [974f8]
p269c5 → ✓ eslint-plugin-import@npm:2.31.0 [2afa4] doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
pc1956 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide @types/eslint-import-resolver-node to eslint-module-utils@npm:2.12.0 [3b3bb]
p7f724 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide @types/eslint-import-resolver-typescript to eslint-module-utils@npm:2.12.0 [3b3bb]
pb91a8 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide @types/eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [3b3bb]
pa1d98 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p1e272 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] provides eslint-import-resolver-node@npm:0.3.9 to eslint-module-utils@npm:2.12.0 [3b3bb]
p73ac8 → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide eslint-import-resolver-typescript to eslint-module-utils@npm:2.12.0 [3b3bb]
p43e3f → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide eslint-import-resolver-webpack to eslint-module-utils@npm:2.12.0 [3b3bb]
pb190d → ✓ eslint-plugin-import@npm:2.31.0 [e0677] doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
p86400 → ✓ eslint@npm:8.57.1 doesn't provide @types/eslint to @eslint-community/eslint-utils@npm:4.4.1 [dd202]
p56222 → ✓ eslint@npm:8.57.1 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pe1fd0 → ✓ eslint@npm:8.57.1 provides eslint@npm:8.57.1 to @eslint-community/eslint-utils@npm:4.4.1 [dd202]
p1fa80 → ✓ eslint@npm:8.57.1 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p1191b → ✓ espree@npm:9.6.1 doesn't provide @types/acorn to acorn-jsx@npm:5.3.2 [a5072]
p87b65 → ✓ espree@npm:9.6.1 provides acorn@npm:8.14.0 to acorn-jsx@npm:5.3.2 [a5072]
p0160a → ✓ freeonlinemarketplace@workspace:. doesn't provide @auth/core to next-auth@npm:4.24.10 [e0677]
pfc6ce → ✓ freeonlinemarketplace@workspace:. doesn't provide @emotion/is-prop-valid to framer-motion@npm:11.1.9 [e0677]
p63b4a → ✓ freeonlinemarketplace@workspace:. provides @emotion/react@npm:11.13.3 [e0677] to @chakra-ui/react@npm:3.1.0 [e0677]
pd3cf6 → ✓ freeonlinemarketplace@workspace:. provides @mdx-js/loader@npm:3.1.0 [e0677] to @next/mdx@npm:15.0.3 [e0677]
p5f985 → ✓ freeonlinemarketplace@workspace:. provides @mdx-js/react@npm:3.1.0 [e0677] to @next/mdx@npm:15.0.3 [e0677]
pefca2 → ✓ freeonlinemarketplace@workspace:. provides @nextui-org/system@npm:2.2.6 [e0677] to @nextui-org/button@npm:2.0.38 [e0677] and 8 other dependencies
p28815 → ✓ freeonlinemarketplace@workspace:. provides @nextui-org/theme@npm:2.2.11 [e0677] to @nextui-org/button@npm:2.0.38 [e0677] and 13 other dependencies
pdc541 → ✓ freeonlinemarketplace@workspace:. doesn't provide @opentelemetry/api to next@npm:15.0.3 [e0677]
p84bfb → ✓ freeonlinemarketplace@workspace:. doesn't provide @playwright/test to next@npm:15.0.3 [e0677]
pfa9f6 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/auth__core to next-auth@npm:4.24.10 [e0677]
p2a541 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/babel-plugin-react-compiler to next@npm:15.0.3 [e0677]
p098bf → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/emotion__is-prop-valid to framer-motion@npm:11.1.9 [e0677]
pc0b60 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/emotion__react to @chakra-ui/react@npm:3.1.0 [e0677]
p33c6a → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/eslint to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 19 other dependencies
p62155 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/eslint-config-prettier to eslint-plugin-prettier@npm:5.2.1 [e0677]
p7b868 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/framer-motion to @nextui-org/button@npm:2.0.38 [e0677] and 6 other dependencies
p8514d → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/mdx-js__loader to @next/mdx@npm:15.0.3 [e0677]
pf8337 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/mdx-js__react to @next/mdx@npm:15.0.3 [e0677]
pc6b40 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/next to next-auth@npm:4.24.10 [e0677]
p6c6c6 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/nextui-org__system to @nextui-org/button@npm:2.0.38 [e0677] and 8 other dependencies
pd3f70 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/nextui-org__theme to @nextui-org/button@npm:2.0.38 [e0677] and 13 other dependencies
p186b3 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/nodemailer to next-auth@npm:4.24.10 [e0677]
pf5682 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/opentelemetry__api to next@npm:15.0.3 [e0677]
p3e16d → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/playwright__test to next@npm:15.0.3 [e0677]
pf9501 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/postcss to autoprefixer@npm:10.4.19 [e0677]
pdb18b → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/prettier to eslint-plugin-prettier@npm:5.2.1 [e0677]
p76ff2 → ✓ freeonlinemarketplace@workspace:. provides @types/react@npm:18.3.3 to @adobe/react-spectrum@npm:3.37.1 [e0677] and 284 other dependencies
p6c732 → ✓ freeonlinemarketplace@workspace:. provides @types/react-dom@npm:18.3.0 to @adobe/react-spectrum@npm:3.37.1 [e0677] and 74 other dependencies
p88dbc → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/sass to next@npm:15.0.3 [e0677]
p877eb → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/tailwindcss to @nextui-org/theme@npm:2.2.11 [e0677] and 5 other dependencies
pe2519 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/typescript to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 7 other dependencies
p52945 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/typescript-eslint__eslint-plugin to eslint-plugin-unused-imports@npm:4.1.4 [e0677]
p7da3e → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/typescript-eslint__parser to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 2 other dependencies
pc9950 → ✓ freeonlinemarketplace@workspace:. doesn't provide @types/webpack to @mdx-js/loader@npm:3.1.0 [e0677]
p71727 → ✓ freeonlinemarketplace@workspace:. provides @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] to eslint-plugin-unused-imports@npm:4.1.4 [e0677]
p5533e → ✓ freeonlinemarketplace@workspace:. provides @typescript-eslint/parser@npm:8.11.0 [e0677] to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 2 other dependencies
p00588 → ✓ freeonlinemarketplace@workspace:. doesn't provide babel-plugin-react-compiler to next@npm:15.0.3 [e0677]
p14a20 → ✓ freeonlinemarketplace@workspace:. provides eslint@npm:8.57.1 to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 19 other dependencies
p2313c → ✓ freeonlinemarketplace@workspace:. provides eslint-config-prettier@npm:9.1.0 [e0677] to eslint-plugin-prettier@npm:5.2.1 [e0677]
p27ea8 → ✓ freeonlinemarketplace@workspace:. provides framer-motion@npm:11.1.9 [e0677] to @nextui-org/button@npm:2.0.38 [e0677] and 6 other dependencies
p0be99 → ✓ freeonlinemarketplace@workspace:. provides next@npm:15.0.3 [e0677] to next-auth@npm:4.24.10 [e0677]
pcb74f → ✓ freeonlinemarketplace@workspace:. doesn't provide nodemailer to next-auth@npm:4.24.10 [e0677]
p1fcda → ✓ freeonlinemarketplace@workspace:. provides postcss@npm:8.4.38 to autoprefixer@npm:10.4.19 [e0677]
pa408e → ✓ freeonlinemarketplace@workspace:. provides prettier@npm:3.3.3 to eslint-plugin-prettier@npm:5.2.1 [e0677]
pe984a → ✓ freeonlinemarketplace@workspace:. provides react@npm:18.3.1 to @adobe/react-spectrum@npm:3.37.1 [e0677] and 284 other dependencies
p3641f → ✓ freeonlinemarketplace@workspace:. provides react-dom@npm:18.3.1 [e0677] to @adobe/react-spectrum@npm:3.37.1 [e0677] and 74 other dependencies
p0e374 → ✓ freeonlinemarketplace@workspace:. doesn't provide sass to next@npm:15.0.3 [e0677]
p9a524 → ✓ freeonlinemarketplace@workspace:. provides tailwindcss@npm:3.4.3 to @nextui-org/theme@npm:2.2.11 [e0677] and 5 other dependencies
pb043a → ✓ freeonlinemarketplace@workspace:. provides typescript@patch:typescript@npm%3A5.6.3#optional!builtin<compat/typescript>::version=5.6.3&hash=8c6c40 to @typescript-eslint/eslint-plugin@npm:8.11.0 [e0677] and 7 other dependencies
pf9939 → ✓ freeonlinemarketplace@workspace:. doesn't provide webpack to @mdx-js/loader@npm:3.1.0 [e0677]
p46327 → ✓ get-it@npm:8.6.5 doesn't provide @types/debug to follow-redirects@npm:1.15.9 [22ada]
p302f3 → ✓ get-it@npm:8.6.5 doesn't provide debug to follow-redirects@npm:1.15.9 [22ada]
p7a8d1 → ✓ http-proxy-agent@npm:7.0.2 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p26435 → ✓ http-proxy-agent@npm:7.0.2 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p3c4ee → ✓ http-proxy@npm:1.18.1 doesn't provide @types/debug to follow-redirects@npm:1.15.9 [22ada]
p7c8e2 → ✓ http-proxy@npm:1.18.1 doesn't provide debug to follow-redirects@npm:1.15.9 [22ada]
pf71f1 → ✓ https-proxy-agent@npm:7.0.5 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
paa3a3 → ✓ https-proxy-agent@npm:7.0.5 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p09bf7 → ✓ micromark-extension-mdxjs@npm:3.0.0 doesn't provide @types/acorn to acorn-jsx@npm:5.3.2 [a5072]
pb3dbb → ✓ micromark-extension-mdxjs@npm:3.0.0 provides acorn@npm:8.14.0 to acorn-jsx@npm:5.3.2 [a5072]
pd9bb6 → ✓ micromark@npm:4.0.0 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p86c20 → ✓ micromark@npm:4.0.0 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p8cbf7 → ✓ miniflare@npm:3.20240718.0 doesn't provide @types/bufferutil to ws@npm:8.18.0 [2e955]
pdb15d → ✓ miniflare@npm:3.20240718.0 doesn't provide @types/utf-8-validate to ws@npm:8.18.0 [2e955]
p1a1b5 → ✓ miniflare@npm:3.20240718.0 doesn't provide bufferutil to ws@npm:8.18.0 [2e955]
pcdf7c → ✓ miniflare@npm:3.20240718.0 doesn't provide utf-8-validate to ws@npm:8.18.0 [2e955]
pba56d → ✓ mongoose@npm:8.8.1 doesn't provide @aws-sdk/credential-providers to mongodb@npm:6.10.0 [9e456]
p6f1b7 → ✓ mongoose@npm:8.8.1 doesn't provide @mongodb-js/zstd to mongodb@npm:6.10.0 [9e456]
p14e2a → ✓ mongoose@npm:8.8.1 doesn't provide @types/aws-sdk__credential-providers to mongodb@npm:6.10.0 [9e456]
p729e9 → ✓ mongoose@npm:8.8.1 doesn't provide @types/gcp-metadata to mongodb@npm:6.10.0 [9e456]
peda57 → ✓ mongoose@npm:8.8.1 doesn't provide @types/kerberos to mongodb@npm:6.10.0 [9e456]
p9d273 → ✓ mongoose@npm:8.8.1 doesn't provide @types/mongodb-client-encryption to mongodb@npm:6.10.0 [9e456]
pf4ef5 → ✓ mongoose@npm:8.8.1 doesn't provide @types/mongodb-js__zstd to mongodb@npm:6.10.0 [9e456]
pe9d61 → ✓ mongoose@npm:8.8.1 doesn't provide @types/snappy to mongodb@npm:6.10.0 [9e456]
p5b2be → ✓ mongoose@npm:8.8.1 doesn't provide @types/socks to mongodb@npm:6.10.0 [9e456]
pe727f → ✓ mongoose@npm:8.8.1 doesn't provide gcp-metadata to mongodb@npm:6.10.0 [9e456]
pe364a → ✓ mongoose@npm:8.8.1 doesn't provide kerberos to mongodb@npm:6.10.0 [9e456]
p8ee58 → ✓ mongoose@npm:8.8.1 doesn't provide mongodb-client-encryption to mongodb@npm:6.10.0 [9e456]
p70884 → ✓ mongoose@npm:8.8.1 doesn't provide snappy to mongodb@npm:6.10.0 [9e456]
p63e63 → ✓ mongoose@npm:8.8.1 doesn't provide socks to mongodb@npm:6.10.0 [9e456]
p2fed1 → ✓ mquery@npm:5.0.0 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p0cb3a → ✓ mquery@npm:5.0.0 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pe45b8 → ✓ natural@npm:8.0.1 doesn't provide @types/pg-native to pg@npm:8.13.1 [4b341]
pe3e39 → ✓ natural@npm:8.0.1 doesn't provide pg-native to pg@npm:8.13.1 [4b341]
p51742 → ✓ next-auth@npm:4.24.10 [e0677] doesn't provide @types/preact to preact-render-to-string@npm:5.2.6 [f8510]
p5c71d → ✓ next-auth@npm:4.24.10 [e0677] provides preact@npm:10.24.3 to preact-render-to-string@npm:5.2.6 [f8510]
p4505e → ✓ next@npm:15.0.3 [e0677] doesn't provide @babel/core to styled-jsx@npm:5.1.6 [13805]
p88006 → ✓ next@npm:15.0.3 [e0677] doesn't provide @types/babel-plugin-macros to styled-jsx@npm:5.1.6 [13805]
p547d1 → ✓ next@npm:15.0.3 [e0677] doesn't provide @types/babel__core to styled-jsx@npm:5.1.6 [13805]
p4cfa7 → ✓ next@npm:15.0.3 [e0677] doesn't provide babel-plugin-macros to styled-jsx@npm:5.1.6 [13805]
pc6b7d → ✓ pg@npm:8.13.1 [4b341] doesn't provide @types/pg to pg-pool@npm:3.7.0 [b9f6f]
p1529b → ✓ pg@npm:8.13.1 [4b341] provides pg@npm:8.13.1 [4b341] to pg-pool@npm:3.7.0 [b9f6f]
pe7e8a → ✓ portfinder@npm:1.0.32 doesn't provide @types/supports-color to debug@npm:3.2.7 [20cc8]
p83a16 → ✓ portfinder@npm:1.0.32 doesn't provide supports-color to debug@npm:3.2.7 [20cc8]
p03893 → ✓ recma-jsx@npm:1.0.0 doesn't provide @types/acorn to acorn-jsx@npm:5.3.2 [4c49d]
p64526 → ✘ recma-jsx@npm:1.0.0 doesn't provide acorn to acorn-jsx@npm:5.3.2 [4c49d]
pb13f2 → ✓ redis@npm:4.7.0 provides @redis/client@npm:1.6.0 to @redis/bloom@npm:1.2.0 [31302] and 4 other dependencies
p88d98 → ✓ redis@npm:4.7.0 doesn't provide @types/redis__client to @redis/bloom@npm:1.2.0 [31302] and 4 other dependencies
p3d887 → ✓ resend@npm:4.0.1 doesn't provide @types/react to @react-email/render@npm:1.0.1 [99812]
p6b333 → ✓ resend@npm:4.0.1 doesn't provide @types/react-dom to @react-email/render@npm:1.0.1 [99812]
p11fce → ✘ resend@npm:4.0.1 doesn't provide react to @react-email/render@npm:1.0.1 [99812]
pe050a → ✘ resend@npm:4.0.1 doesn't provide react-dom to @react-email/render@npm:1.0.1 [99812]
p12567 → ✓ socket.io-adapter@npm:2.5.5 doesn't provide @types/bufferutil to ws@npm:8.17.1 [5eef7]
p0f040 → ✓ socket.io-adapter@npm:2.5.5 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p95aed → ✓ socket.io-adapter@npm:2.5.5 doesn't provide @types/utf-8-validate to ws@npm:8.17.1 [5eef7]
p0ec5b → ✓ socket.io-adapter@npm:2.5.5 doesn't provide bufferutil to ws@npm:8.17.1 [5eef7]
paa76b → ✓ socket.io-adapter@npm:2.5.5 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pdfdd5 → ✓ socket.io-adapter@npm:2.5.5 doesn't provide utf-8-validate to ws@npm:8.17.1 [5eef7]
p9b9f5 → ✓ socket.io-client@npm:4.8.1 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p6d708 → ✓ socket.io-client@npm:4.8.1 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pe1274 → ✓ socket.io-parser@npm:4.2.4 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p75726 → ✓ socket.io-parser@npm:4.2.4 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
pbcc05 → ✓ socket.io@npm:4.8.1 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
pe762c → ✓ socket.io@npm:4.8.1 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p131cc → ✓ socks-proxy-agent@npm:8.0.4 doesn't provide @types/supports-color to debug@npm:4.3.7 [1ff4b]
p9fe0a → ✓ socks-proxy-agent@npm:8.0.4 doesn't provide supports-color to debug@npm:4.3.7 [1ff4b]
p60602 → ✓ tailwindcss@npm:3.4.3 doesn't provide @types/postcss to postcss-import@npm:15.1.0 [deb88] and 3 other dependencies
p20a2b → ✓ tailwindcss@npm:3.4.3 doesn't provide @types/ts-node to postcss-load-config@npm:4.0.2 [deb88]
p6f249 → ✓ tailwindcss@npm:3.4.3 provides postcss@npm:8.4.38 to postcss-import@npm:15.1.0 [deb88] and 3 other dependencies
p1f0bd → ✓ tailwindcss@npm:3.4.3 doesn't provide ts-node to postcss-load-config@npm:4.0.2 [deb88]
