@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/sand.css";
@import "./colors.css";
@import "./mantra.css"; /* Mantra is freeonlinemarketplace.com's open source color library */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: light-dark(#ffffff, #0a0a0a);
    background: light-dark(#0d0d0d, #fafafa);
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
    :root {
        --attachment-footer-background: #f8f9fb;
        --background-deemphasized: #f2f4f7;
        --base-cherry: #fb3c44;
        --base-grape: #7d74ff;
        --base-lemon: #f9cf00;
        --base-lime: #3fbb46;
        --base-pink: #fa61ba;
        --base-teal: #14b898;
        --blue-link: #0064d1;
        --card-background: #fff;
        --card-background-flat: #f8f9fb;
        --comment-background: #f0f2f5;
        --disabled-button-background: #e2e5e9;
        --disabled-icon: #b0b3b8;
        --disabled-text: #b0b3b8;
        --divider: #d0d3d7;
        --divider-on-color: #5c5e62;
        --event-date: #dd2334;
        --fb-logo: #0866ff;
        --fb-wordmark: #0866ff;
        --fds-duration-extra-extra-short-in: 100ms;
        --fds-duration-extra-extra-short-out: 100ms;
        --fds-duration-extra-long-in: 1000ms;
        --fds-duration-extra-long-out: 1000ms;
        --fds-duration-extra-short-in: 200ms;
        --fds-duration-extra-short-out: 150ms;
        --fds-duration-long-in: 500ms;
        --fds-duration-long-out: 350ms;
        --fds-duration-medium-in: 400ms;
        --fds-duration-medium-out: 350ms;
        --fds-duration-none: 0ms;
        --fds-duration-short-in: 280ms;
        --fds-duration-short-out: 200ms;
        --fds-fast: 200ms;
        --fds-slow: 400ms;
        --glimmer-base-opaque: #979a9f;
        --glimmer-high-contrast-base-opaque: #65686c;
        --glimmer-opacity-high-contrast-max: 1;
        --glimmer-opacity-high-contrast-min: 0.08;
        --glimmer-opacity-max: 0.5;
        --glimmer-opacity-min: 0.15;
        --hosted-view-selected-state: #ebf5ff;
        --input-border-width: 1px;
        --input-corner-radius: 6px;
        --last-active-state-background: #f2fcf0;
        --last-active-state-text: #1e5e21;
        --list-cell-corner-radius: 8px;
        --list-cell-min-height: 44px;
        --media-hovered: rgba(70, 72, 75, 0.15);
        --media-inner-border: rgba(0, 0, 0, 0.1);
        --media-pressed: rgba(70, 72, 75, 0.35);
        --nav-bar-background: #fff;
        --negative: #dd2334;
        --negative-background: #ffe3de;
        --new-notification-background: #e7f3ff;
        --non-media-pressed: rgba(70, 72, 75, 0.15);
        --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
        --notification-badge: #dd2334;
        --overlay-on-media: rgba(0, 0, 0, 0.8);
        --placeholder-icon: #65686c;
        --placeholder-image: #979a9f;
        --placeholder-text: #65686c;
        --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
        --popover-background: #fff;
        --positive: #24832c;
        --positive-deemphasized: #f2fcf0;
        --primary-button-background: #0866ff;
        --primary-button-background-on-color: #fff;
        --primary-button-background-on-media: #fff;
        --primary-button-icon: #fff;
        --primary-button-icon-on-color: #000;
        --primary-button-icon-on-media: #080809;
        --primary-button-text: #fff;
        --primary-deemphasized-button-background: #ebf5ff;
        --primary-deemphasized-button-icon: #0064d1;
        --primary-deemphasized-button-text: #0064d1;
        --primary-icon: #080809;
        --primary-icon-on-media: #fff;
        --primary-text: #080809;
        --primary-text-on-color: #fff;
        --primary-text-on-media: #fff;
        --progress-ring-blue-background: rgba(8, 102, 255, 0.2);
        --progress-ring-blue-foreground: #0866ff;
        --progress-ring-disabled-background: rgba(176, 179, 184, 0.2);
        --progress-ring-disabled-foreground: #b0b3b8;
        --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
        --progress-ring-neutral-foreground: #000;
        --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
        --progress-ring-on-media-foreground: #fff;
        --radio-border-width: 2px;
        --radio-checked-icon-size-large: 12px;
        --radio-checked-icon-size-medium: 12px;
        --radio-size-large: 24px;
        --radio-size-medium: 20px;
        --rating-star-active: #e0761a;
        --rating-star-active-on-color: #fff;
        --rating-star-active-on-media: #fff;
        --secondary-button-background: #e2e5e9;
        --secondary-button-background-floating: #fff;
        --secondary-button-background-on-color: rgba(255, 255, 255, 0.15);
        --secondary-button-background-on-dark: rgba(28, 28, 29, 0.6);
        --secondary-button-background-on-media: rgba(28, 28, 29, 0.6);
        --secondary-button-icon-on-media: #fff;
        --secondary-button-pressed: rgba(0, 0, 0, 0.05);
        --secondary-button-stroke: rgba(0, 0, 0, 0);
        --secondary-button-text: #080809;
        --secondary-icon: #65686c;
        --secondary-icon-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text: #65686c;
        --secondary-text-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text-on-media: rgba(255, 255, 255, 0.8);
        --story-seen: #84878b;
        --story-unseen: #0866ff;
        --surface-background: #fff;
        --switch-unchecked-background-color: #8f9297;
        --text-badge-corner-radius: 4px;
        --text-badge-padding-horizontal: 6px;
        --text-badge-padding-vertical: 6px;
        --text-highlight: rgba(8, 102, 255, 0.2);
        --text-input-active-text: #0064d1;
        --text-input-caption-margin-top: 10px;
        --text-input-multi-padding-between-text-scrollbar: 20px;
        --text-input-multi-padding-scrollbar: 16px;
        --text-input-padding-vertical: 12px;
        --toast-addon-padding-horizontal: 6px;
        --toast-addon-padding-vertical: 6px;
        --toast-container-padding-horizontal: 10px;
        --toast-container-padding-vertical: 16px;
        --toast-corner-radius: 8px;
        --toggle-active-background: #ebf5ff;
        --toggle-active-icon: #0064d1;
        --toggle-active-text: #0064d1;
        --tooltip-background: rgba(255, 255, 255, 0.8);
        --tooltip-corner-radius: 12px;
        --warning: #af8f00;
        --wash: #c9ccd1;
        --web-wash: #f2f4f7;
        --attachment-footer-background: #f8f9fb;
        --background-deemphasized: #f2f4f7;
        --base-cherry: #fb3c44;
        --base-grape: #7d74ff;
        --base-lemon: #f9cf00;
        --base-lime: #3fbb46;
        --base-pink: #fa61ba;
        --base-teal: #14b898;
        --blue-link: #0064d1;
        --card-background: #fff;
        --card-background-flat: #f8f9fb;
        --comment-background: #f0f2f5;
        --disabled-button-background: #e2e5e9;
        --disabled-icon: #b0b3b8;
        --disabled-text: #b0b3b8;
        --divider: #d0d3d7;
        --divider-on-color: #5c5e62;
        --event-date: #dd2334;
        --fb-logo: #0866ff;
        --fb-wordmark: #0866ff;
        --fds-duration-extra-extra-short-in: 100ms;
        --fds-duration-extra-extra-short-out: 100ms;
        --fds-duration-extra-long-in: 1000ms;
        --fds-duration-extra-long-out: 1000ms;
        --fds-duration-extra-short-in: 200ms;
        --fds-duration-extra-short-out: 150ms;
        --fds-duration-long-in: 500ms;
        --fds-duration-long-out: 350ms;
        --fds-duration-medium-in: 400ms;
        --fds-duration-medium-out: 350ms;
        --fds-duration-none: 0ms;
        --fds-duration-short-in: 280ms;
        --fds-duration-short-out: 200ms;
        --fds-fast: 200ms;
        --fds-slow: 400ms;
        --glimmer-base-opaque: #979a9f;
        --glimmer-high-contrast-base-opaque: #65686c;
        --glimmer-opacity-high-contrast-max: 1;
        --glimmer-opacity-high-contrast-min: 0.25;
        --glimmer-opacity-max: 1;
        --glimmer-opacity-min: 0.25;
        --hosted-view-selected-state: #ebf5ff;
        --input-border-width: 1px;
        --input-corner-radius: 6px;
        --last-active-state-background: #f2fcf0;
        --last-active-state-text: #1e5e21;
        --list-cell-corner-radius: 8px;
        --list-cell-min-height: 44px;
        --media-hovered: rgba(70, 72, 75, 0.15);
        --media-inner-border: rgba(0, 0, 0, 0.1);
        --media-pressed: rgba(70, 72, 75, 0.35);
        --nav-bar-background: #fff;
        --negative: #fb3c44;
        --negative-background: #ffe3de;
        --new-notification-background: #e7f3ff;
        --non-media-pressed: rgba(70, 72, 75, 0.15);
        --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
        --notification-badge: #dd2334;
        --overlay-on-media: rgba(0, 0, 0, 0.8);
        --placeholder-icon: #65686c;
        --placeholder-image: #979a9f;
        --placeholder-text: #65686c;
        --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
        --popover-background: #fff;
        --positive: #31a73b;
        --positive-deemphasized: #f2fcf0;
        --primary-button-background: #0866ff;
        --primary-button-background-on-color: #fff;
        --primary-button-background-on-media: #fff;
        --primary-button-icon: #fff;
        --primary-button-icon-on-color: #000;
        --primary-button-icon-on-media: #080809;
        --primary-button-text: #fff;
        --primary-deemphasized-button-background: #ebf5ff;
        --primary-deemphasized-button-icon: #0064d1;
        --primary-deemphasized-button-text: #0064d1;
        --primary-icon: #080809;
        --primary-icon-on-media: #fff;
        --primary-text: #080809;
        --primary-text-on-color: #fff;
        --primary-text-on-media: #fff;
        --progress-ring-blue-background: rgba(8, 102, 255, 0.2);
        --progress-ring-blue-foreground: #0866ff;
        --progress-ring-disabled-background: rgba(176, 179, 184, 0.2);
        --progress-ring-disabled-foreground: #b0b3b8;
        --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
        --progress-ring-neutral-foreground: #000;
        --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
        --progress-ring-on-media-foreground: #fff;
        --radio-border-width: 2px;
        --radio-checked-icon-size-large: 12px;
        --radio-checked-icon-size-medium: 12px;
        --radio-size-large: 24px;
        --radio-size-medium: 20px;
        --rating-star-active: #e0761a;
        --rating-star-active-on-color: #fff;
        --rating-star-active-on-media: #fff;
        --secondary-button-background: #e2e5e9;
        --secondary-button-background-floating: #fff;
        --secondary-button-background-on-color: rgba(255, 255, 255, 0.15);
        --secondary-button-background-on-dark: rgba(28, 28, 29, 0.6);
        --secondary-button-background-on-media: rgba(28, 28, 29, 0.6);
        --secondary-button-icon-on-media: #fff;
        --secondary-button-pressed: rgba(0, 0, 0, 0.05);
        --secondary-button-stroke: rgba(0, 0, 0, 0);
        --secondary-button-text: #080809;
        --secondary-icon: #65686c;
        --secondary-icon-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text: #65686c;
        --secondary-text-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text-on-media: rgba(255, 255, 255, 0.8);
        --story-seen: #84878b;
        --story-unseen: #0866ff;
        --surface-background: #fff;
        --switch-unchecked-background-color: #8f9297;
        --text-badge-corner-radius: 4px;
        --text-badge-padding-horizontal: 6px;
        --text-badge-padding-vertical: 6px;
        --text-highlight: rgba(8, 102, 255, 0.2);
        --text-input-active-text: #0064d1;
        --text-input-caption-margin-top: 10px;
        --text-input-multi-padding-between-text-scrollbar: 20px;
        --text-input-multi-padding-scrollbar: 16px;
        --text-input-padding-vertical: 12px;
        --toast-addon-padding-horizontal: 6px;
        --toast-addon-padding-vertical: 6px;
        --toast-container-padding-horizontal: 10px;
        --toast-container-padding-vertical: 16px;
        --toast-corner-radius: 8px;
        --toggle-active-background: #ebf5ff;
        --toggle-active-icon: #0064d1;
        --toggle-active-text: #0064d1;
        --tooltip-background: rgba(255, 255, 255, 0.8);
        --tooltip-corner-radius: 12px;
        --warning: #d4af00;
        --wash: #c9ccd1;
        --web-wash: #f2f4f7;

        --background: #fafafa;
        --foreground: #0a0a0a;
        --foreground-hsl: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 98%));
        --foreground-hsla: light-dark(
            hsla(0, 0%, 5%, 0.1),
            hsl(0, 0%, 98%, 0.1)
        );
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --attachment-footer-background: rgba(255, 255, 255, 0.1);
        --background-deemphasized: rgba(255, 255, 255, 0.1);
        /* From Facebook. Similar to the 10 Commandments thing I was working on... - Donald */
        --base-cherry: #fb3c44;
        --base-grape: #7d74ff;
        --base-lemon: #f9cf00;
        --base-lime: #3fbb46;
        --base-pink: #fa61ba;
        --base-teal: #14b898;
        --blue-link: #5aa7ff;
        --card-background: #252728;
        --card-background-flat: #333334;
        --comment-background: #333334;
        --disabled-button-background: rgba(255, 255, 255, 0.1);
        --disabled-icon: #6f7276;
        --disabled-text: #6f7276;
        --divider: #65686c;
        --divider-on-color: #5c5e62;
        --event-date: #dd2334;
        --fb-logo: #0866ff;
        --fb-wordmark: #fff;
        --fds-duration-extra-extra-short-in: 100ms;
        --fds-duration-extra-extra-short-out: 100ms;
        --fds-duration-extra-long-in: 1000ms;
        --fds-duration-extra-long-out: 1000ms;
        --fds-duration-extra-short-in: 200ms;
        --fds-duration-extra-short-out: 150ms;
        --fds-duration-long-in: 500ms;
        --fds-duration-long-out: 350ms;
        --fds-duration-medium-in: 400ms;
        --fds-duration-medium-out: 350ms;
        --fds-duration-none: 0ms;
        --fds-duration-short-in: 280ms;
        --fds-duration-short-out: 200ms;
        --fds-fast: 200ms;
        --fds-slow: 400ms;
        --glimmer-base-opaque: #fff;
        --glimmer-high-contrast-base-opaque: #fff;
        --glimmer-opacity-high-contrast-max: 0.48;
        --glimmer-opacity-high-contrast-min: 0.1;
        --glimmer-opacity-max: 0.58;
        --glimmer-opacity-min: 0.15;
        --hosted-view-selected-state: rgba(29, 133, 252, 0.1);
        --input-border-width: 1px;
        --input-corner-radius: 6px;
        --last-active-state-background: #152b14;
        --last-active-state-text: #90e78a;
        --list-cell-corner-radius: 8px;
        --list-cell-min-height: 44px;
        --media-hovered: rgba(255, 255, 255, 0.15);
        --media-inner-border: rgba(255, 255, 255, 0.05);
        --media-pressed: rgba(255, 255, 255, 0.3);
        --nav-bar-background: #252728;
        --negative: #ff7c74;
        --negative-background: rgba(185, 24, 40, 0.2);
        --new-notification-background: rgba(45, 136, 255, 0.1);
        --non-media-pressed: rgba(255, 255, 255, 0.2);
        --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
        --notification-badge: #dd2334;
        --overlay-on-media: rgba(0, 0, 0, 0.8);
        --placeholder-icon: #a1a4a9;
        --placeholder-image: #979a9f;
        --placeholder-text: #a1a4a9;
        --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
        --popover-background: #3b3c3e;
        --positive: #3fbb46;
        --positive-deemphasized: #121f10;
        --primary-button-background: #0866ff;
        --primary-button-background-on-color: #fff;
        --primary-button-background-on-media: #fff;
        --primary-button-icon: #fff;
        --primary-button-icon-on-color: #000;
        --primary-button-icon-on-media: #080809;
        --primary-button-text: #fff;
        --primary-deemphasized-button-background: rgba(29, 133, 252, 0.2);
        --primary-deemphasized-button-icon: #75b6ff;
        --primary-deemphasized-button-text: #75b6ff;
        --primary-icon: #e2e5e9;
        --primary-icon-on-media: #fff;
        --primary-text: #e2e5e9;
        --primary-text-on-color: #fff;
        --primary-text-on-media: #fff;
        --progress-ring-blue-background: rgba(8, 102, 255, 0.2);
        --progress-ring-blue-foreground: #0866ff;
        --progress-ring-disabled-background: rgba(111, 114, 118, 0.2);
        --progress-ring-disabled-foreground: #6f7276;
        --progress-ring-neutral-background: rgba(255, 255, 255, 0.2);
        --progress-ring-neutral-foreground: #fff;
        --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
        --progress-ring-on-media-foreground: #fff;
        --radio-border-width: 2px;
        --radio-checked-icon-size-large: 12px;
        --radio-checked-icon-size-medium: 12px;
        --radio-size-large: 24px;
        --radio-size-medium: 20px;
        --rating-star-active: #ff9a42;
        --rating-star-active-on-color: #fff;
        --rating-star-active-on-media: #fff;
        --secondary-button-background: rgba(255, 255, 255, 0.1);
        --secondary-button-background-floating: #46484b;
        --secondary-button-background-on-color: rgba(255, 255, 255, 0.15);
        --secondary-button-background-on-dark: rgba(28, 28, 29, 0.6);
        --secondary-button-background-on-media: rgba(28, 28, 29, 0.6);
        --secondary-button-icon-on-media: #fff;
        --secondary-button-pressed: rgba(255, 255, 255, 0.2);
        --secondary-button-stroke: rgba(0, 0, 0, 0);
        --secondary-button-text: #e8eaee;
        --secondary-icon: #b0b3b8;
        --secondary-icon-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text: #b0b3b8;
        --secondary-text-on-color: rgba(255, 255, 255, 0.9);
        --secondary-text-on-media: rgba(255, 255, 255, 0.8);
        --story-seen: #84878b;
        --story-unseen: #0866ff;
        --surface-background: #252728;
        --switch-unchecked-background-color: #6f7276;
        --text-badge-corner-radius: 4px;
        --text-badge-padding-horizontal: 6px;
        --text-badge-padding-vertical: 6px;
        --text-highlight: rgba(29, 133, 252, 0.45);
        --text-input-active-text: #3e93f8;
        --text-input-caption-margin-top: 10px;
        --text-input-multi-padding-between-text-scrollbar: 20px;
        --text-input-multi-padding-scrollbar: 16px;
        --text-input-padding-vertical: 12px;
        --toast-addon-padding-horizontal: 6px;
        --toast-addon-padding-vertical: 6px;
        --toast-container-padding-horizontal: 10px;
        --toast-container-padding-vertical: 16px;
        --toast-corner-radius: 8px;
        --toggle-active-background: #1d85fc;
        --toggle-active-icon: #fff;
        --toggle-active-text: #fff;
        --tooltip-background: rgba(0, 0, 0, 0.8);
        --tooltip-corner-radius: 12px;
        --warning: #af8f00;
        --wash: #1c1c1d;
        --web-wash: #1c1c1d;
        --background: #0d0d0d;
        --foreground: #ffffff;
        --foreground-hsl: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 98%));
        --foreground-hsla: light-dark(
            hsla(0, 0%, 5%, 0.1),
            hsl(0, 0%, 98%, 0.1)
        );
    }
}

pre.syntax-highlighter {
    width: 80ch;
    font-family: monospace;
    font-size: 30px;
    line-height: 30px;
    background: linear-gradient(
            to right,
            white 0ch,
            #78dce8 0ch,
            #78dce8 3ch,
            white 3ch,
            white 18ch,
            #ffd658 18ch,
            #ffd658 31ch,
            white 31ch,
            white 80ch
        ),
        linear-gradient(
            to right,
            white 0ch,
            #a6e22e 0ch,
            #a6e22e 3ch,
            white 3ch,
            white 12ch,
            #f92672 12ch,
            #f92672 15ch,
            #a7c 15ch,
            #a7c 17ch,
            white 17ch,
            white 80ch
        ),
        linear-gradient(
            to right,
            white 0ch,
            white 0ch,
            white 4ch,
            #fd971f 4ch,
            #fd971f 11ch,
            white 11ch,
            white 12ch,
            #a6e22e 12ch,
            #a6e22e 15ch,
            white 15ch,
            white 16ch,
            #ffd658 16ch,
            #ffd658 34ch,
            #f92672 34ch,
            #f92672 37ch,
            white 37ch,
            white 80ch
        ),
        linear-gradient(to right, white 0ch, white 0ch, white 80ch),
        linear-gradient(to right, white 0ch, white 0ch, white 80ch);
    background-repeat: no-repeat;
    background-size:
        80ch 30px,
        80ch 60px,
        80ch 90px,
        80ch 120px,
        80ch 150px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Custom */

.border-inset {
    border-style: inset;
}

.border-outset {
    border-style: outset;
}

[data-reach-skip-link],
[data-reach-skip-nav-link] {
    background: var(--background);
    color: var(--foreground);
    z-index: 60;
}

[data-reach-skip-link]:focus {
    outline: 4px dashed black;
}
#skip-nav:focus {
    outline: 4px dashed black;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.backdrop {
    pointer-events: none;
}
.vignette {
    pointer-events: none;
    background-image: radial-gradient(
        circle,
        transparent 0%,
        transparent 66.666%,
        var(--background) 100%
    );
    /* box-shadow: inset 0 0 70px 50px #0d0d0d; */
}

.backdrop:hover {
    pointer-events: auto;
}

.debug {
    outline: 4px solid greenyellow;
    outline-offset: -2px;
    outline-style: double;
    /* box-shadow: inset 0 0 10px greenyellow; */
}
.debug *:nth-child(odd) {
    outline: 2px solid red;
    outline-offset: -1px;
}
.debug *:nth-child(even) {
    outline: 2px solid blue;
    outline-offset: -1px;
}

.book {
    cursor: pointer;
    --book-depth: 56px;
    --book-border-radius: 5.4px 1.8px 1.8px 5.4px;
    --hover-rotate: -20deg;
    --hover-scale: 1.066;
    --hover-translate-x: -0.5em;
    transform: rotate(0deg);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    box-shadow: none;
}
/* .book:hover {
     transform: rotate(var(--hover-rotate)) scale(var(--hover-scale))
        translateX(var(--hover-translate-x));
     box-shadow: 0 0 0 1px var(--foreground);
} */
